.fruit-order {
    display: grid;
    margin: 20px;
    padding: 20px;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    grid-template-areas:
    "A B"
    "C B"
    "D B"
    "E B";
}

.fruit-container {
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: rgba(29,117,119,0.9);
}


.strawberry {
    grid-area: A;
}

.banana {
    grid-area: C;
}

.apple {
    grid-area: D;
}

.kiwi {
    grid-area: E;
}

h1, p {
    margin: 30px;
    padding: 20px;
}
.order-form {
    display: block;
    justify-content:space-between;
    border-style: solid;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    background-color: rgba(29,117,119,0.9);
}

label {
    display: block;
    margin: 20px;
    /*padding: 20px;*/
}


